In [3]:
import pandas as pd
df=pd.read_csv(r"/content/zomato.csv")
print(df)

      Unnamed: 0.1  Unnamed: 0         restaurant name     restaurant type  \
0                0           0            #FeelTheROLL         Quick Bites
1                1           1              #L-81 Cafe         Quick Bites
2                2           2                 #refuel                Cafe
3                3           3      '@ Biryani Central       Casual Dining
4                4           4              '@ The Bbq       Casual Dining
...            ...         ...                     ...                 ...
7100          7100        7100                  Zoey's                Cafe
7101          7101        7101  ZOROY Luxury Chocolate      Dessert Parlor
7102          7102        7102       Zu's Doner Kebaps  Takeaway, Delivery
7103          7103        7103                   Zyara       Casual Dining
7104          7104        7104                  Zyksha          Food Truck

      rate (out of 5)  num of ratings  avg cost (two people) online_order  \
0                 3.4               7                  200.0           No
1                 3.9              48                  400.0          Yes
2                 3.7              37                  400.0          Yes
3                 2.7             135                  550.0          Yes
4                 2.8              40                  700.0          Yes
...               ...             ...                    ...          ...
7100              4.3             894                  600.0          Yes
7101              4.0              68                  250.0          Yes
7102              3.7              33                  350.0           No
7103              3.8             191                  650.0          Yes
7104              3.4               9                  200.0           No

     table booking                                      cuisines type  \
0               No                                          Fast Food
1               No                               Fast Food, Beverages
2               No                                    Cafe, Beverages
3               No                          Biryani, Mughlai, Chinese
4               No  BBQ, Continental, North Indian, Chinese, Bever...
...            ...                                                ...
7100            No                 Cafe, Italian, Continental, Burger
7101            No                                           Desserts
7102            No               Turkish, Fast Food, Biryani, Chinese
7103            No                     North Indian, Mughlai, Chinese
7104            No                                          Fast Food

                                area      local address
0                          Bellandur          Bellandur
1     Byresandra,Tavarekere,Madiwala                HSR
2                  Bannerghatta Road  Bannerghatta Road
3                       Marathahalli       Marathahalli
4                          Bellandur          Bellandur
...                              ...                ...
7100                       Bellandur      Sarjapur Road
7101                    Brigade Road      Church Street
7102                    Malleshwaram           RT Nagar
7103                    Kammanahalli         HBR Layout
7104               Bannerghatta Road    South Bangalore

[7105 rows x 12 columns]

In [4]:
print(df.head(25)) #top rows
print(df.tail(25))   #bottom rows

    Unnamed: 0.1  Unnamed: 0                       restaurant name  \
0              0           0                          #FeelTheROLL
1              1           1                            #L-81 Cafe
2              2           2                               #refuel
3              3           3                    '@ Biryani Central
4              4           4                            '@ The Bbq
5              5           5                                  '@99
6              6           6                               '@Italy
7              7           7                  '@North Parontha Hut
8              8           8                              1000 B.C
9              9           9  100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C
10            10          10            11 to 11 Express Biriyanis
11            11          11                    1131 Bar + Kitchen
12            12          12             12th Main - Grand Mercure
13            13          13                         1441 Pizzeria
14            14          14                        1522 - The Pub
15            15          15                    154 Breakfast Club
16            16          16                     1722 Urban Bistro
17            17          17                          18+ Ice Cafe
18            18          18                                  1947
19            19          19                      1980s Games Cafe
20            20          20                    1992 Chats - Space
21            21          21                                   1Q1
22            22          22                          1TO3 Kitchen
23            23          23                              2 Statez
24            24          24         20 Char - Sterlings MAC Hotel

       restaurant type  rate (out of 5)  num of ratings  \
0          Quick Bites              3.4               7
1          Quick Bites              3.9              48
2                 Cafe              3.7              37
3        Casual Dining              2.7             135
4        Casual Dining              2.8              40
5   Takeaway, Delivery              3.4              37
6        Casual Dining              4.1             305
7   Takeaway, Delivery              2.8              40
8          Quick Bites              3.2              49
9        Casual Dining              3.7              41
10         Quick Bites              3.5              22
11  Bar, Casual Dining              4.4            2861
12         Fine Dining              4.1             353
13       Casual Dining              4.1             119
14                 Pub              4.2            1731
15                Cafe              4.0            1509
16       Casual Dining              4.1             218
17                Cafe              3.5              24
18       Casual Dining              3.9             620
19                Cafe              3.4              58
20         Quick Bites              3.7              33
21  Casual Dining, Bar              4.3             595
22            Delivery              3.1              11
23       Casual Dining              3.7             209
24  Casual Dining, Bar              4.0             419

    avg cost (two people) online_order table booking  \
0                   200.0           No            No
1                   400.0          Yes            No
2                   400.0          Yes            No
3                   550.0          Yes            No
4                   700.0          Yes            No
5                   200.0           No            No
6                   700.0          Yes            No
7                   300.0           No            No
8                   300.0          Yes            No
9                   450.0           No            No
10                  300.0          Yes            No
11                 1500.0           No           Yes
12                 2000.0           No           Yes
13                  800.0          Yes            No
14                 1400.0          Yes            No
15                  900.0          Yes           Yes
16                  600.0          Yes           Yes
17                  550.0           No            No
18                 1000.0           No           Yes
19                  400.0          Yes            No
20                  200.0          Yes            No
21                 2500.0           No           Yes
22                  800.0           No            No
23                  600.0          Yes            No
24                 1400.0          Yes           Yes

                                        cuisines type  \
0                                           Fast Food
1                                Fast Food, Beverages
2                                     Cafe, Beverages
3                           Biryani, Mughlai, Chinese
4   BBQ, Continental, North Indian, Chinese, Bever...
5             Mughlai, Biryani, Chinese, North Indian
6                                             Italian
7                                        North Indian
8                    Arabian, Sandwich, Rolls, Burger
9                               Biryani, North Indian
10                                     Biryani, Kebab
11          Continental, Asian, Italian, North Indian
12                                    European, Asian
13                                       Pizza, Salad
14                 Chinese, Continental, North Indian
15                                  Cafe, Continental
16          North Indian, Chinese, Fast Food, Biryani
17                Cafe, Fast Food, Chinese, Beverages
18                 North Indian, Chinese, Continental
19                                    Cafe, Fast Food
20                                        Street Food
21  Asian, Japanese, Thai, Malaysian, Vietnamese, ...
22  North Indian, Chinese, Continental, Italian, S...
23  Kerala, Seafood, South Indian, North Indian, C...
24  Chinese, Continental, North Indian, South Indi...

                              area          local address
0                        Bellandur              Bellandur
1   Byresandra,Tavarekere,Madiwala                    HSR
2                Bannerghatta Road      Bannerghatta Road
3                     Marathahalli           Marathahalli
4                        Bellandur              Bellandur
5                       Whitefield             Whitefield
6                     Banashankari     Kumaraswamy Layout
7                      Indiranagar       Old Airport Road
8   Byresandra,Tavarekere,Madiwala  Koramangala 5th Block
9   Byresandra,Tavarekere,Madiwala                    BTM
10                 Electronic City        Electronic City
11                Old Airport Road            Indiranagar
12  Byresandra,Tavarekere,Madiwala  Koramangala 3rd Block
13                    Basavanagudi               JP Nagar
14                    Malleshwaram           Malleshwaram
15  Byresandra,Tavarekere,Madiwala  Koramangala 3rd Block
16  Byresandra,Tavarekere,Madiwala  Koramangala 5th Block
17                    Kalyan Nagar           Kammanahalli
18                     Rajajinagar            Rajajinagar
19                    Banashankari           Basavanagudi
20                    Malleshwaram            Rajajinagar
21                    Brigade Road          Infantry Road
22                    Marathahalli           Marathahalli
23                    Kalyan Nagar           Kalyan Nagar
24                     Indiranagar       Old Airport Road
      Unnamed: 0.1  Unnamed: 0                          restaurant name  \
7080          7080        7080                              Zawaa Foods
7081          7081        7081                                Zayakedar
7082          7082        7082                       Zayan Kabab Korner
7083          7083        7083                                    Z-Bar
7084          7084        7084                                Zee5 Loft
7085          7085        7085                                    ZEEES
7086          7086        7086                                   Zeee's
7087          7087        7087                                  Zeeshan
7088          7088        7088                   Zen - The Leela Palace
7089          7089        7089                   Zengi Pub & Restaurant
7090          7090        7090                                   Zephyr
7091          7091        7091                              Zero Kelvin
7092          7092        7092                         Zero Mile Punjab
7093          7093        7093             Zhang's - Chinese Restaurant
7094          7094        7094                           Zhangs Classic
7095          7095        7095                                  Zingron
7096          7096        7096                        Ziyan's Cafe 27th
7097          7097        7097                                   Zodiac
7098          7098        7098  Zodiac - Fortune Select JP Cosmos Hotel
7099          7099        7099                            Zodiac Grills
7100          7100        7100                                   Zoey's
7101          7101        7101                   ZOROY Luxury Chocolate
7102          7102        7102                        Zu's Doner Kebaps
7103          7103        7103                                    Zyara
7104          7104        7104                                   Zyksha

         restaurant type  rate (out of 5)  num of ratings  \
7080         Quick Bites              2.8              40
7081         Quick Bites              4.0             250
7082         Quick Bites              3.8              38
7083                 Bar              4.1             410
7084                Cafe              4.4             351
7085         Quick Bites              3.6               9
7086         Quick Bites              3.7              34
7087       Casual Dining              2.6             155
7088         Fine Dining              4.1             245
7089  Pub, Casual Dining              3.7              30
7090       Casual Dining              3.9             133
7091      Dessert Parlor              4.3             169
7092       Casual Dining              4.1            1336
7093       Casual Dining              4.1             586
7094       Casual Dining              2.6             170
7095       Casual Dining              4.0             510
7096         Quick Bites              4.0              60
7097       Casual Dining              3.6              62
7098       Casual Dining              3.8              91
7099         Quick Bites              3.2               4
7100                Cafe              4.3             894
7101      Dessert Parlor              4.0              68
7102  Takeaway, Delivery              3.7              33
7103       Casual Dining              3.8             191
7104          Food Truck              3.4               9

      avg cost (two people) online_order table booking  \
7080                  400.0          Yes            No
7081                  250.0          Yes            No
7082                  250.0           No            No
7083                 1500.0           No           Yes
7084                  500.0          Yes            No
7085                  300.0          Yes            No
7086                  300.0          Yes            No
7087                  600.0          Yes            No
7088                 3500.0           No           Yes
7089                  900.0          Yes            No
7090                  650.0           No            No
7091                  450.0          Yes            No
7092                  800.0          Yes           Yes
7093                  700.0          Yes            No
7094                  600.0          Yes            No
7095                  750.0          Yes            No
7096                  300.0           No           Yes
7097                 1500.0           No            No
7098                 1800.0          Yes           Yes
7099                  500.0          Yes            No
7100                  600.0          Yes            No
7101                  250.0          Yes            No
7102                  350.0           No            No
7103                  650.0          Yes            No
7104                  200.0           No            No

                                          cuisines type  \
7080   Continental, South Indian, North Indian, Arabian
7081                                       North Indian
7082                                     Kebab, Biryani
7083                          Finger Food, North Indian
7084         Cafe, North Indian, Pizza, Sandwich, Salad
7085               North Indian, Street Food, Fast Food
7086               Fast Food, North Indian, Street Food
7087              North Indian, Mughlai, Biryani, Rolls
7088                            Thai, Japanese, Chinese
7089                  Finger Food, Continental, Chinese
7090                               Italian, Continental
7091                                Desserts, Beverages
7092                              North Indian, Mughlai
7093                                     Chinese, Momos
7094                         Italian, Chinese, Japanese
7095                                      Chinese, Naga
7096                                             Kerala
7097  Italian, Mexican, Mediterranean, North Indian,...
7098   North Indian, South Indian, Chinese, Continental
7099                              North Indian, Chinese
7100                 Cafe, Italian, Continental, Burger
7101                                           Desserts
7102               Turkish, Fast Food, Biryani, Chinese
7103                     North Indian, Mughlai, Chinese
7104                                          Fast Food

                                area          local address
7080                     Indiranagar       Old Airport Road
7081                       Bellandur              Bellandur
7082                     Frazer Town            Frazer Town
7083                 Electronic City        Electronic City
7084  Byresandra,Tavarekere,Madiwala  Koramangala 6th Block
7085                    Malleshwaram           New BEL Road
7086                     Brookefield             Whitefield
7087                       Bellandur          Sarjapur Road
7088                     Indiranagar       Old Airport Road
7089               Bannerghatta Road                    BTM
7090                    Banashankari           Basavanagudi
7091  Byresandra,Tavarekere,Madiwala  Koramangala 4th Block
7092  Byresandra,Tavarekere,Madiwala                    HSR
7093               Bannerghatta Road               JP Nagar
7094               Bannerghatta Road      Bannerghatta Road
7095  Byresandra,Tavarekere,Madiwala  Koramangala 7th Block
7096                             HSR                    HSR
7097                     Brookefield             Whitefield
7098                    Brigade Road        Cunningham Road
7099                             HSR                    HSR
7100                       Bellandur          Sarjapur Road
7101                    Brigade Road          Church Street
7102                    Malleshwaram               RT Nagar
7103                    Kammanahalli             HBR Layout
7104               Bannerghatta Road        South Bangalore

In [5]:
print(df.info())  #quick way to look datatypes,missing values,data size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           7105 non-null   int64
 1   Unnamed: 0             7105 non-null   int64
 2   restaurant name        7105 non-null   object
 3   restaurant type        7105 non-null   object
 4   rate (out of 5)        7037 non-null   float64
 5   num of ratings         7105 non-null   int64
 6   avg cost (two people)  7048 non-null   float64
 7   online_order           7105 non-null   object
 8   table booking          7105 non-null   object
 9   cuisines type          7105 non-null   object
 10  area                   7105 non-null   object
 11  local address          7105 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 666.2+ KB
None

In [6]:
print(df.shape)   #no.of rows and columns
print(df.shape[0])  #no.of rows
print(df.shape[1])  #no.of columns

(7105, 12)
7105
12

In [7]:
print(df.columns)   #column names
print(list(df.columns))   #convert to list

Index(['Unnamed: 0.1', 'Unnamed: 0', 'restaurant name', 'restaurant type',
       'rate (out of 5)', 'num of ratings', 'avg cost (two people)',
       'online_order', 'table booking', 'cuisines type', 'area',
       'local address'],
      dtype='object')
['Unnamed: 0.1', 'Unnamed: 0', 'restaurant name', 'restaurant type', 'rate (out of 5)', 'num of ratings', 'avg cost (two people)', 'online_order', 'table booking', 'cuisines type', 'area', 'local address']

In [8]:
#checking for missing values
print(df.isnull().head(20))
print(df.isna().sum())   #null values & adding

    Unnamed: 0.1  Unnamed: 0  restaurant name  restaurant type  \
0          False       False            False            False
1          False       False            False            False
2          False       False            False            False
3          False       False            False            False
4          False       False            False            False
5          False       False            False            False
6          False       False            False            False
7          False       False            False            False
8          False       False            False            False
9          False       False            False            False
10         False       False            False            False
11         False       False            False            False
12         False       False            False            False
13         False       False            False            False
14         False       False            False            False
15         False       False            False            False
16         False       False            False            False
17         False       False            False            False
18         False       False            False            False
19         False       False            False            False

    rate (out of 5)  num of ratings  avg cost (two people)  online_order  \
0             False           False                  False         False
1             False           False                  False         False
2             False           False                  False         False
3             False           False                  False         False
4             False           False                  False         False
5             False           False                  False         False
6             False           False                  False         False
7             False           False                  False         False
8             False           False                  False         False
9             False           False                  False         False
10            False           False                  False         False
11            False           False                  False         False
12            False           False                  False         False
13            False           False                  False         False
14            False           False                  False         False
15            False           False                  False         False
16            False           False                  False         False
17            False           False                  False         False
18            False           False                  False         False
19            False           False                  False         False

    table booking  cuisines type   area  local address
0           False          False  False          False
1           False          False  False          False
2           False          False  False          False
3           False          False  False          False
4           False          False  False          False
5           False          False  False          False
6           False          False  False          False
7           False          False  False          False
8           False          False  False          False
9           False          False  False          False
10          False          False  False          False
11          False          False  False          False
12          False          False  False          False
13          False          False  False          False
14          False          False  False          False
15          False          False  False          False
16          False          False  False          False
17          False          False  False          False
18          False          False  False          False
19          False          False  False          False
Unnamed: 0.1              0
Unnamed: 0                0
restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [10]:
#slicing & extracting data

##isolating columns

print(df['restaurant type'].head(10))    #one column
print(df[['cuisines type','rate (out of 5)']].head(10))   #multiple column

##isolating rows
print(df.index==25)

0           Quick Bites
1           Quick Bites
2                  Cafe
3         Casual Dining
4         Casual Dining
5    Takeaway, Delivery
6         Casual Dining
7    Takeaway, Delivery
8           Quick Bites
9         Casual Dining
Name: restaurant type, dtype: object
                                       cuisines type  rate (out of 5)
0                                          Fast Food              3.4
1                               Fast Food, Beverages              3.9
2                                    Cafe, Beverages              3.7
3                          Biryani, Mughlai, Chinese              2.7
4  BBQ, Continental, North Indian, Chinese, Bever...              2.8
5            Mughlai, Biryani, Chinese, North Indian              3.4
6                                            Italian              4.1
7                                       North Indian              2.8
8                   Arabian, Sandwich, Rolls, Burger              3.2
9                              Biryani, North Indian              3.7
[False False False ... False False False]

In [11]:
#using.loc to fetch rows
print(df.loc[15])
print(df.loc[12:18])
print(df.iloc[9])
print(df.iloc[6:14])

Unnamed: 0.1                                         15
Unnamed: 0                                           15
restaurant name                      154 Breakfast Club
restaurant type                                    Cafe
rate (out of 5)                                     4.0
num of ratings                                     1509
avg cost (two people)                             900.0
online_order                                        Yes
table booking                                       Yes
cuisines type                         Cafe, Continental
area                     Byresandra,Tavarekere,Madiwala
local address                     Koramangala 3rd Block
Name: 15, dtype: object
    Unnamed: 0.1  Unnamed: 0            restaurant name restaurant type  \
12            12          12  12th Main - Grand Mercure     Fine Dining
13            13          13              1441 Pizzeria   Casual Dining
14            14          14             1522 - The Pub             Pub
15            15          15         154 Breakfast Club            Cafe
16            16          16          1722 Urban Bistro   Casual Dining
17            17          17               18+ Ice Cafe            Cafe
18            18          18                       1947   Casual Dining

    rate (out of 5)  num of ratings  avg cost (two people) online_order  \
12              4.1             353                 2000.0           No
13              4.1             119                  800.0          Yes
14              4.2            1731                 1400.0          Yes
15              4.0            1509                  900.0          Yes
16              4.1             218                  600.0          Yes
17              3.5              24                  550.0           No
18              3.9             620                 1000.0           No

   table booking                              cuisines type  \
12           Yes                            European, Asian
13            No                               Pizza, Salad
14            No         Chinese, Continental, North Indian
15           Yes                          Cafe, Continental
16           Yes  North Indian, Chinese, Fast Food, Biryani
17            No        Cafe, Fast Food, Chinese, Beverages
18           Yes         North Indian, Chinese, Continental

                              area          local address
12  Byresandra,Tavarekere,Madiwala  Koramangala 3rd Block
13                    Basavanagudi               JP Nagar
14                    Malleshwaram           Malleshwaram
15  Byresandra,Tavarekere,Madiwala  Koramangala 3rd Block
16  Byresandra,Tavarekere,Madiwala  Koramangala 5th Block
17                    Kalyan Nagar           Kammanahalli
18                     Rajajinagar            Rajajinagar
Unnamed: 0.1                                                9
Unnamed: 0                                                  9
restaurant name          100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C
restaurant type                                 Casual Dining
rate (out of 5)                                           3.7
num of ratings                                             41
avg cost (two people)                                   450.0
online_order                                               No
table booking                                              No
cuisines type                           Biryani, North Indian
area                           Byresandra,Tavarekere,Madiwala
local address                                             BTM
Name: 9, dtype: object
    Unnamed: 0.1  Unnamed: 0                       restaurant name  \
6              6           6                               '@Italy
7              7           7                  '@North Parontha Hut
8              8           8                              1000 B.C
9              9           9  100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C
10            10          10            11 to 11 Express Biriyanis
11            11          11                    1131 Bar + Kitchen
12            12          12             12th Main - Grand Mercure
13            13          13                         1441 Pizzeria

       restaurant type  rate (out of 5)  num of ratings  \
6        Casual Dining              4.1             305
7   Takeaway, Delivery              2.8              40
8          Quick Bites              3.2              49
9        Casual Dining              3.7              41
10         Quick Bites              3.5              22
11  Bar, Casual Dining              4.4            2861
12         Fine Dining              4.1             353
13       Casual Dining              4.1             119

    avg cost (two people) online_order table booking  \
6                   700.0          Yes            No
7                   300.0           No            No
8                   300.0          Yes            No
9                   450.0           No            No
10                  300.0          Yes            No
11                 1500.0           No           Yes
12                 2000.0           No           Yes
13                  800.0          Yes            No

                                cuisines type                            area  \
6                                     Italian                    Banashankari
7                                North Indian                     Indiranagar
8            Arabian, Sandwich, Rolls, Burger  Byresandra,Tavarekere,Madiwala
9                       Biryani, North Indian  Byresandra,Tavarekere,Madiwala
10                             Biryani, Kebab                 Electronic City
11  Continental, Asian, Italian, North Indian                Old Airport Road
12                            European, Asian  Byresandra,Tavarekere,Madiwala
13                               Pizza, Salad                    Basavanagudi

            local address
6      Kumaraswamy Layout
7        Old Airport Road
8   Koramangala 5th Block
9                     BTM
10        Electronic City
11            Indiranagar
12  Koramangala 3rd Block
13               JP Nagar

In [12]:
#dealing with missing values
##dropping missing values
data1=df.dropna()
print(data1.isnull().sum())
df.dropna(inplace=True,axis=0)
print(df.isnull().sum())

Unnamed: 0.1             0
Unnamed: 0               0
restaurant name          0
restaurant type          0
rate (out of 5)          0
num of ratings           0
avg cost (two people)    0
online_order             0
table booking            0
cuisines type            0
area                     0
local address            0
dtype: int64
Unnamed: 0.1             0
Unnamed: 0               0
restaurant name          0
restaurant type          0
rate (out of 5)          0
num of ratings           0
avg cost (two people)    0
online_order             0
table booking            0
cuisines type            0
area                     0
local address            0
dtype: int64

In [15]:
#replacing mean
mean_value=df['avg cost (two people)'].mean()
print(mean_value)
#replacing median
median_value=df['num of ratings'].median()
print(median_value)

542.5442439862543
40.0

In [16]:
#renaming column
df.rename(columns={'avg cost (two people)':'avg cost'},inplace=True)
df.head(15)

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost,online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,3,3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,4,4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
5,5,5,'@99,"Takeaway, Delivery",3.4,37,200.0,No,No,"Mughlai, Biryani, Chinese, North Indian",Whitefield,Whitefield
6,6,6,'@Italy,Casual Dining,4.1,305,700.0,Yes,No,Italian,Banashankari,Kumaraswamy Layout
7,7,7,'@North Parontha Hut,"Takeaway, Delivery",2.8,40,300.0,No,No,North Indian,Indiranagar,Old Airport Road
8,8,8,1000 B.C,Quick Bites,3.2,49,300.0,Yes,No,"Arabian, Sandwich, Rolls, Burger","Byresandra,Tavarekere,Madiwala",Koramangala 5th Block
9,9,9,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,Casual Dining,3.7,41,450.0,No,No,"Biryani, North Indian","Byresandra,Tavarekere,Madiwala",BTM
10,10,10,11 to 11 Express Biriyanis,Quick Bites,3.5,22,300.0,Yes,No,"Biryani, Kebab",Electronic City,Electronic City
11,11,11,1131 Bar + Kitchen,"Bar, Casual Dining",4.4,2861,1500.0,No,Yes,"Continental, Asian, Italian, North Indian",Old Airport Road,Indiranagar
12,12,12,12th Main - Grand Mercure,Fine Dining,4.1,353,2000.0,No,Yes,"European, Asian","Byresandra,Tavarekere,Madiwala",Koramangala 3rd Block
13,13,13,1441 Pizzeria,Casual Dining,4.1,119,800.0,Yes,No,"Pizza, Salad",Basavanagudi,JP Nagar
14,14,14,1522 - The Pub,Pub,4.2,1731,1400.0,Yes,No,"Chinese, Continental, North Indian",Malleshwaram,Malleshwaram

In [18]:
#value.counts()
df['area'].value_counts()

area
Byresandra,Tavarekere,Madiwala    794
Bannerghatta Road                 552
Brookefield                       477
Brigade Road                      463
Indiranagar                       450
Electronic City                   402
Malleshwaram                      401
Kalyan Nagar                      379
Bellandur                         359
Banashankari                      359
Marathahalli                      258
Whitefield                        257
HSR                               238
Basavanagudi                      198
New BEL Road                      166
Koramangala 4th Block             160
Rajajinagar                       145
Lavelle Road                      140
Jayanagar                         126
Frazer Town                       124
Sarjapur Road                     107
Old Airport Road                   82
Church Street                      76
JP Nagar                           68
Kammanahalli                       61
Koramangala 5th Block              35
Koramangala 7th Block              34
MG Road                            30
Koramangala 6th Block              27
Residency Road                     16
Name: count, dtype: int64